/* Welcome To Tie & Dye CSS, The First Cool Tricks CSS Library! 
== Version 1.5.5 - 9 Dec 2020 Setup ==
>> Here comes the best CSS tricks, make sure to check our bit sized docs!
> Quick Navigation:
- config settings, around line 260;
- color paletes, around line 340;
- tricks and mixins, around line 440;
*/
/*
* This Is The Full Tie And Dye -- Version 1.5.5 - 9 Dec 2020 Setup.
*/
*, *::before, *::after {
  box-sizing: border-box;
  outline: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  scrollbar-color: light;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 1 */
  line-height: 1.5;
}

body {
  font-family: inherit;
  line-height: inherit;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

hr {
  border-top-width: 1px;
}

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #9ca3af;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #9ca3af;
}

input::placeholder, textarea::placeholder {
  color: #9ca3af;
}

button,
[role=button] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button, input, optgroup, select, textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

pre, code, kbd, samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

img, svg, video, canvas, audio, iframe, embed, object, picture {
  display: block;
  vertical-align: middle;
}

img, picture, video {
  aspect-ratio: auto;
  max-width: 100%;
  height: auto;
}

/* 
*These Are The Configuration Settings Of Tie & Dye! 
*/
/* max-width */
/* border-radius-button */
/* border-radius-button */
/* border-radius-medium */
/* border-radius-circle */
/* text-shadow */
/* box-shadow-light */
/* box-shadow-lighter */
/* box-shadow-dark */
/* 
*These Are The Colors Paletes Of Tie & Dye! 
*/
/* 
*These Are The Tricks Of Tie & Dye! 
*/
* {
  transition: all 2s ease-in linear;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
  outline: none !important;
  font-size: calc(100% + .12vw);
}

html::-webkit-scrollbar {
  width: 12px;
  height: 6px;
  background-color: #eff1f5;
}

html::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  border-radius: 12px;
  height: 6px;
  background-color: #9CA3AF;
  border: 2px solid #eff1f5;
}

::-moz-selection {
  background-color: #F3F4F6;
  text-shadow: 1px 1px 10px rgba(42, 53, 64, 0.4);
  border-radius: 4px;
}

::selection {
  background-color: #F3F4F6;
  text-shadow: 1px 1px 10px rgba(42, 53, 64, 0.4);
  border-radius: 4px;
}

:-webkit-tap-highlight-color {
  color: rgba(0, 0, 0, 0.2);
}

button .ripple {
  border-radius: 50%;
  background: #676ed7;
  position: absolute;
  transform: scale(0);
  -webkit-animation: ripple 0.6s linear;
          animation: ripple 0.6s linear;
}

@-webkit-keyframes ripple {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}

@keyframes ripple {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}
/* we will soon have our dependency libs here but untill then, thanks for the love */
::-moz-selection {
  background-color: rgba(51, 0, 51, 0.5);
  text-shadow: 1px 1px 10px rgba(42, 53, 64, 0.4);
  border-radius: 4px;
}
::selection {
  background-color: rgba(51, 0, 51, 0.5);
  text-shadow: 1px 1px 10px rgba(42, 53, 64, 0.4);
  border-radius: 4px;
}

body {
  font-size: calc(100% + .6vw);
  overflow-y: scroll;
}
@media screen and (min-width: 580px) {
  body {
    font-size: calc(100% + .12vw);
    overflow: hidden;
  }
}

.main-wrapper {
  width: 100%;
  height: 100%;
  color: #e6e6e6;
  background-color: #330033;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}
@media screen and (min-width: 580px) {
  .main-wrapper {
    height: 100vh;
  }
}

header {
  width: 100%;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
@media screen and (min-width: 580px) {
  header {
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.header-left, .header-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  width: clamp(32px,42px,62px);
  height: auto;
}
@media screen and (min-width: 580px) {
  .logo {
    width: clamp(32px,72px,128px);
    height: auto;
  }
}

.header-left {
  font-family: "DroidSans";
  font-weight: bold;
  font-size: calc(100% + .6vw);
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media screen and (min-width: 768px) {
  .header-left {
    font-size: calc(100% + .5vw);
    letter-spacing: 5px;
  }
}

.header-left span:nth-child(2) {
  color: #e6e6e6;
  margin-left: 0.5rem;
}

.header-left span:last-child {
  margin-left: 1rem;
  padding-left: 0.5rem;
  color: #0359d7;
  border-left: 2px solid #e6e6e6;
  background: linear-gradient(90deg, #3187ff 0%, #00d2ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
}
@media screen and (min-width: 768px) {
  .header-left span:last-child {
    display: initial;
  }
}

.header-right span {
  font-family: "Poppins";
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  background: #0359d7;
  border-radius: 7px;
  text-transform: capitalize;
  display: block;
}
.header-right span:hover {
  transition: all 0.3s ease-in-out;
  background: #0363f0;
}
@media screen and (min-width: 768px) {
  .header-right span {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

main {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.middle-section {
  width: 100%;
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
}
@media screen and (min-width: 580px) {
  .middle-section {
    flex-direction: row;
  }
}

.middle-section div:nth-child(2) {
  margin: 0;
}
@media screen and (min-width: 580px) {
  .middle-section div:nth-child(2) {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.card-holder {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: minmax(4%, 6%) 1fr;
}

.holder-top {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.card-icon {
  width: clamp(24px,32px,72px);
  height: auto;
}

.holder-top span {
  padding: 0.5rem;
  background: rgba(51, 0, 51, 0.7);
  border-radius: 50%;
}

.holder-bottom, .card {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 580px) {
  .holder-bottom {
    margin-top: 3rem;
  }
}

.card {
  background: rgba(51, 0, 51, 0.7);
  border-radius: 4px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.card-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #333333;
  font-weight: 500;
  text-transform: capitalize;
}

.card-text {
  padding: 5px;
}
@media screen and (min-width: 580px) {
  .card-text {
    padding: 0;
  }
}

.card-action {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.action-link {
  width: 100%;
  width: 100%;
  font-family: "Poppins";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #0359d7;
  text-transform: capitalize;
  outline: none !important;
  border-radius: 4px;
}
.action-link:hover {
  transition: all 0.3s ease-in-out;
  background: #1170fc;
}

footer {
  font-family: "Roustel";
  text-transform: capitalize;
}
@media screen and (min-width: 580px) {
  footer {
    bottom: 0;
    position: absolute;
    padding-bottom: 0.5rem;
  }
}

.my-link {
  margin-left: 0.5rem;
  background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.my-link:hover {
  transition: all 0.3s ease-in-out;
  background: linear-gradient(45deg, #c2c2c2, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}